// colors
$main-color: #244A64;
$secondary-color: #429BD6;
$tertiary-color: #BEDCEF;
$video-border-color: #367d22;
$footer-color: #009ddc;
$form-color: #BBBBBB;
$header-color: rgba(60, 60, 60, 0.8);

// text
$main-font-color: #ffffff;
$subFontOne-color: #616161;
$subFontTwo-color: #252525;
$subFontThree-color: #504f4f;

$main-font:'Roboto Condensed', sans-serif;
$secondary-font: 'Roboto', sans-serif;


 // breakpoints

$breakpoint-tablet: 45em;
$breakpoint-desktop: 75em;

